html, body {
    margin: 0;
    height: 100%;
    min-width: fit-content;
}
.main-flex-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 231, 235);
    min-height: 100vh;
}
.header {
    flex: 0 1 50px;
    display: flex;
    align-items: center;
    color:rgb(249, 250, 248);
    background-color: rgb(31, 41, 55);
    margin-bottom: auto;
}
.header > #dark-mode {
    margin-right: 10px;
    margin-left: auto;
}
.content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 20px;
    min-width: fit-content;
}
.draw-ui {
    width: 200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:   rgb(171, 180, 188);
    border-radius: 10px;
    box-shadow: 12px 12px 10px 1px rgba(40, 40, 43, 0.2);
}
.draw-ui > button {
    width: 75%;
    padding: 1em;
    margin-top: 20px;
    border-radius: 10px;
}

.draw-ui > input {
    height: 3em;
    width: 3em;
    margin-top: 20px;
}
.slide-container {
    margin-top: auto;
}
.grid-draw-container {
    display: grid;
    height: 600px;
    width: 600px;
    background-color: white;
    border-right: 1px solid black;
    border-top: 1px solid black;
    margin: 20px;
}
.grid-elements {

}
.grid-elements-borderless {

}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 40px;
    background-color: rgb(31, 41, 55);
}
.footer > h3 {
    color:rgb(249, 250, 248);
    margin: 0;
    text-align: center;
}
